native/target
native/index.node
native/artifacts.json
**/*~
**/node_modules
**/.DS_Store

# Include Cargo.lock for binary
# More information here https://doc.rust-lang.org/cargo/guide/cargo-toml-vs-cargo-lock.html
!Cargo.lock